.i-relative {
    position: relative;
}

.i-inline-block {
    display: inline-block;
    &_mid {
        display: inline-block;
        vertical-align: middle;
    }
}

.i-text {
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
    &-uppercase {
        text-transform: uppercase;
    }
}

.i-left {
    float: left;
}

.i-right {
    float: right;
}

.i-pad {
    &_block {
        &_vertical {
            padding-top: $mediumSpacing;
            padding-bottom: $mediumSpacing;
            &_top {
                padding-top: $mediumSpacing;
            }
            &_bottom {
                padding-bottom: $mediumSpacing;
            }
        }
        &_horizontal {
            padding-left: $smallSpacing;
            padding-right: $smallSpacing;
            &_left {
                padding-left: $smallSpacing;
            }
            &_right {
                padding-right: $smallSpacing;
            }
        }
    }
}

.i-margin {
    &_block {
        &_vertical {
            margin-top: $mediumSpacing;
            margin-bottom: $mediumSpacing;
            &_top {
                margin-top: $mediumSpacing;
                &_0 {
                    margin-top: 0;
                }
            }
            &_bottom {
                margin-bottom: $mediumSpacing;
            }
        }
        &_horizontal {
            margin-left: $smallSpacing;
            margin-right: $smallSpacing;
            &_left {
                margin-left: $smallSpacing;
            }
            &_right {
                margin-right: $smallSpacing;
                &_0 {
                    margin-right: 0 !important;
                }
            }
        }
    }
}

.i-flex {
    &-page {
        &-vertical {
            &-header-footer {
                min-height: calc(100vh - 480px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.i-none {
    display: none !important;
}

.i-hidden {
    visibility: hidden !important;
}

.i-visible {
    visibility: visible !important;
}

.i-overflow-hidden {
    overflow: hidden !important;
}

//.i-link {
//    color: $color-aquamarine;
//    text-decoration: none;
//    transition-property: text-decoration, color;
//    &:hover {
//        color: $color-aquamarine-hover;
//        text-decoration: underline;
//    }
//    &:active {
//        color: $color-aquamarine-active;
//    }
//}

.i-edge {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

.i-inline-block {
    display: inline-block;
    vertical-align: middle;
}

.i-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.i-box-sizing {
    box-sizing: border-box;
}

.i-center {
    text-align: center;
}

.i-transit-all {
    transition: all 0.2s ease-out;
}

.i-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-uppercase {
    text-transform: uppercase;
}

.i-break-word {
    word-break: break-word;
}

.i-hide {
    &-small-down {
        @media #{$small-only} {
            display: none !important;
        }
    }
    &-medium-down {
        @media #{$medium-only} {
            display: none !important;
        }
    }
    &-large-down {
        @media #{$large-only} {
            display: none !important;
        }
    }
    &-xlarge-down {
        @media #{$xlarge-only} {
            display: none !important;
        }
    }
}

.i-hide {
    &-medium-up {
        display: block;
        @media #{$medium-up} {
            display: none;
        }
    }
    &-large-up {
        display: block;
        @media #{$large-up} {
            display: none;
        }
    }
    &-xlarge-up {
        display: block;
        @media #{$xlarge-up} {
            display: none;
        }
    }
    &-xxlarge-up {
        display: block;
        @media #{$xxlarge-up} {
            display: none;
        }
    }
}
