<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="none-when-downgrade">
    <meta name="description" content="Bakery in Odessa, Выпечка, торты, сласти в Одессе">
    <meta name="keywords" content="Bakery, Cakes, Buns, выпечка, домашняя выпечка, торты на заказ, свадебные торты, булочки, коржи, пасхи, кексы, пряники, пряничные домики, кондитерские украшения, кондитерские изделия, караваи, сласти">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="HandheldFriendly" content="true">
    <meta name="fragment" content="!">
    <meta name="robots" content="all" />
    <meta property="og:title" content="Сласти : Выпечка, торты и сласти в Одессе">
    <meta property="og:description" content="Выпечка в Одессе на праздники и каждый день, торты, пряники, кексы, пасхи">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:site_name" content="slasti.od.ua">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://slasti.od.ua/">
    <meta property="og:image" content="http://slasti.od.ua/client/static/graphics/logo_big.png">
    <title>Сласти : Выпечка, торты и сласти в Одессе</title>
    <link rel="icon" type="image/png" href="http://slasti.od.ua/client/static/graphics/logo_big.png">
    <link rel="apple-touch-icon" href="http://slasti.od.ua/client/static/graphics/logo_big.png">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700|Muli:300,400,400italic,300italic|Audiowide' rel='stylesheet' type='text/css'>
</head>
<body>

<%- body %>

<% include ./scripts %>

</body>
</html>
