<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="CV">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="HandheldFriendly" content="true">
  <meta http-equiv="cleartype" content="on">
  <meta property="og:site_name" content="Alex Kobylinski CV">
  <meta property="og:type" content="text.cv">
  <meta property="og:url" content="http://kblnsk.me/">
  <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/alexcv-1e348.appspot.com/o/13662259_1006789819418299_2528997284648608633_o.jpg?alt=media&token=d6cece11-6a0a-4d7c-b4e1-7b93f447ba16">
  <title>CV : Alex Kobylinski</title>
  <link rel="author" href="ua.linkedin.com/pub/oleksii-kobylinskyi/75/409/620/">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700|Muli:300,400,400italic,300italic|Audiowide' rel='stylesheet' type='text/css'>
</head>
  <body>

  <%- body %>

  <% include ./scripts %>

  </body>
</html>
