html, body {
    width: 100%;
    min-height: 100vh;
}

html {
    z-index: 0;
}

body {
    //display: flex;
    background: $primary-color-text none scroll repeat 0 0;
    font-family: "Muli", Arial, sans-serif;
    color: $secondary-text-color;
    main {
        position: relative;
        z-index: 0;
        //flex: 1 0 auto;
        //display: flex;
    }
}

.js-sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    + #sou-bakery {
        margin-top: 48px;
    }
}

#sou-bakery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    > div {
        display: flex;
        position: relative;
        flex-direction: row;
        flex: 0 1 auto;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        z-index: 0;
    }
    &-filters {
        width: 275px;
        align-self: stretch;
        flex: 0 1 auto;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        z-index: 1;
        background-color: rgb(255, 255, 255);
        border-right: 1px solid grey;
    }
    &-items {
        position: relative;
        margin-top: 0;
        z-index: 0;
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
    }
}

#sou-banner-content {
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 200px);
}

#cv-transition-group {
    position: relative;
    z-index: 0;
}

footer {
    background-color: #eee;
    min-height: 200px;
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}
