html, body {
    width: 100%;
    min-height: 100vh;
}

html {
    z-index: 0;
}

body {
    //display: flex;
    background: $primary-color-text-background none scroll repeat 0 0;
    font-family: "Muli", Arial, sans-serif;
    color: $secondary-text-color;
    main {
        position: relative;
        z-index: 0;
        //flex: 1 0 auto;
        //display: flex;
    }
}

.js-sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    + #sou-bakery {
        margin-top: 60px;
    }
}

#sou-bakery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    > div {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: row;
        flex: 0 1 auto;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        z-index: 0;
    }
}

.sou {
    &-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        ~ section {
            position: relative;
            z-index: 0;
        }
        &__logo {
            flex: 0 1 auto;
            width: 50px;
            background-color: $primary-color-dark;
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom-color: $accent-color;
                cursor: pointer;
            }
            img {
                height: 45px;
                margin-left: 7px;
            }
        }
        &__toolbar {
            height: 60px !important;
            &__greet {
                padding-left: $twiceSpacing;
            }
        }
        &__navigation {
            &_holder {
                flex: 1 auto;
            }
        }
        &__nav {
            flex: 1 auto;
            &__link {
                height: 60px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    &-banner {
        &-content {
            position: relative;
            z-index: 1;
            min-height: calc(100vh - 480px);
            padding-top: 60px;
        }
    }
    &-bakery {
        &-items {
            width: 100%;
            position: relative;
            margin-top: 0;
            z-index: 0;
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
            min-height: calc(100vh - 480px);
            &__title {
                padding: 0 2rem;
            }
            &__card {
                &__action {
                    padding-bottom: 8px;
                }
            }
            &__list {
                width: 100%;
            }
        }
        &-filters {
            width: 300px;
            align-self: stretch;
            flex: 0 1 auto;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            z-index: 1;
            background-color: rgb(255, 255, 255);
            border-right: 1px solid #009688;
            padding: 0 30px 24px;
            &__list {
                position: relative;
                z-index: 1;
            }
            &__button-holder {
                position: relative;
                z-index: 0;
            }
        }
    }
    &-about {
        color: $primary-color-text;
        width: 100%;
        &__ordered-holder {
            @media #{$medium-up} {
                width: 500px;
            }
        }
        &__article {
            min-height: calc(100vh - 60px);
            &_yellow {
                color: $primary-text-color;
                background-color: $triad-yellow-from-primary;
            }
            &_dark-green {
                background-color: $triad-dark-green-from-primary;
            }
            &_brown {
                background-color: $triad-brown-from-primary;
            }
        }
    }
    &-text {
        &-primary {
            color: $primary-color;
        }
    }
    &-cart {
        &-details {
            &__column {
                padding: $smallSpacing $smallSpacing / 4;
            }
        }
    }
    &-footer {
        &__title {
            margin-top: 0;
        }
        &__social {
            &__icon {
                width: 29px;
                height: 29px;
                background-color: $primary-color-text;
                border-radius: $smallSpacing / 2 - 0.2;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.Select-control {
    border-width: 0 0 1px 0;
    border-radius: 0;
}


.Select-value,
.Select-value-label,
.Select--multi .Select-value-icon {
    border-color: #80cbc4;
    background-color: #B2DFDB;
    color: #757575;
}

.Select--multi .Select-value-icon:hover {
    background-color: #B2DFDB;
    opacity: 0.6;
    color: #757575;
}

#cv-transition-group {
    position: relative;
    z-index: 0;
}

footer {
    background-color: $primary-color-dark;
    color: $primary-color-text;
    padding: $smallSpacing * 3 0;
    min-height: 228px;
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}
